.normal{
    background-color:rgb(221, 218, 115);
    
}
#roundbuttonabout{

    text-align: center;
    vertical-align: middle;
    display:table;
    position: absolute !important;
    margin-left: 38% !important;
    margin-top: 22% !important;
} 
.buttoncaption{

    display: table-cell;
    vertical-align: middle;
    padding-top: 49%;
}
 
#roundbuttonportfolio{

    position: absolute !important;
    text-align: center;
    vertical-align: middle;
    display:table;
    margin-left: 54% !important;
    margin-top: 22% !important;

} 
.buttoncaption1{

    display: table-cell;
    vertical-align: middle;
    padding-top: 35%;

}

#roundbuttoncontact{

    position: absolute !important;
    text-align: center;
    vertical-align: middle;
    display:table;
    position: absolute;
    margin-left: 70% !important;
    margin-top: 22% !important;

} 


.buttoncaption2{

    display: table-cell;
    vertical-align: middle;
    padding-top: 39%;

}
