body{
    padding: 2.5%;
}
.About-info{
 
    position: absolute;
    bottom: 5%;
    font-size: 12px;
    padding-left: 35%;
    padding-right: 10%;

}

.title{
position: absolute;
top: 55%;
right: 45%; 
padding-left: 10%;
font-size: 40px;



}

.upperbackground{
    background-color: #ff7557;
   height: 450px;
   width: 100%;
position: relative;


}

#imagediana{
    height: 100%;

}

.aboutcomponentbuttons{
    position: absolute;
    top: 20px;
    background-color: #ddda73;
    
}


/* .roundbuttonabout{

    border-radius: 50%;
    height: 130px;
    width: 130px;
    position: absolute;
    margin-left: 40%;
    margin-top: 25%;

    color:rgb(100, 97, 97);
    border: 3px solid rgb(202, 196, 179);
    background-color:rgb(221, 218, 115);

    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    display:table;
} 

.roundbuttonportfolio{

    border-radius: 50%;
    height: 130px;
    width: 130px;
    position: absolute;
    margin-left: 55%;
    margin-top: 25%;

    color:rgb(100, 97, 97);
    border: 3px solid rgb(202, 196, 179);
    background-color:rgb(221, 218, 115);

    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    display:table;
} 

.roundbuttoncontact{

    border-radius: 50%;
    height: 130px;
    width: 130px;
    position: absolute;
    margin-left: 70%;
    margin-top: 25%;
 
    color:rgb(100, 97, 97);
    border: 3px solid rgb(202, 196, 179);
    background-color:rgb(221, 218, 115);

    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    display:table;
} 


.buttoncaption{

    display: table-cell;
    vertical-align: middle;
    padding-top: 40%;

}

.buttoncaption1{

    display: table-cell;
    vertical-align: middle;
    padding-top: 50%;



}

*/.removelink{
    text-decoration: none;
    color:rgb(100, 97, 97);
    font-family: 'News Cycle', sans-serif;
    font-size: 30px;

} 