body{
    padding: 2.5%;
}
.about-background{
    position: absolute;
    padding-top: 5%;
    background-size:30%;
    background-repeat: no-repeat;
    height: 500px;
    width: 600px;
    margin: 2%;
    /* z-index: 1; */
}
.About-info{
 
    position: absolute;
    top:32%;
    font-size: 16px;
    padding-left: 35%;
    padding-right: 8%;
    font-family: 'News Cycle', sans-serif;
    

}

.title{
position: absolute;
top: 10%;
right: 32%; 
padding-left: 10%;
font-size: 60px;
font-family: 'Cinzel', serif;
color: rgb(95, 95, 95);


}

.upperbackground{
    background-color: #ff7557;
   height: 650px;
   width: 100%;
position: relative;
z-index: -3;

}

#imagediana{
    height: 117%;


}

.aboutcomponentbuttons{
    position: absolute;
    top: 50px;
    background-color: #ddda73;
    
}

.normalbuttonsabout{
    position: relative;
    top: 10%;
    display: inline-block;
}

.abouthomecss{
    position: absolute !important;
    top:30% !important;
}

.aboutportfoliocss{
    position: relative;
    top:30%;
}
.typer{
    height: 18%;
    width: 13%;
    margin-left: 82%;
    margin-top: 34%;
    position: absolute;
}

/* .roundbuttonabout{

    border-radius: 50%;
    height: 130px;
    width: 130px;
    position: absolute;
    margin-left: 40%;
    margin-top: 25%;

    color:rgb(100, 97, 97);
    border: 3px solid rgb(202, 196, 179);
    background-color:rgb(221, 218, 115);

    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    display:table;
} 

.roundbuttonportfolio{

    border-radius: 50%;
    height: 130px;
    width: 130px;
    position: absolute;
    margin-left: 55%;
    margin-top: 25%;

    color:rgb(100, 97, 97);
    border: 3px solid rgb(202, 196, 179);
    background-color:rgb(221, 218, 115);

    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    display:table;
} 

.roundbuttoncontact{

    border-radius: 50%;
    height: 130px;
    width: 130px;
    position: absolute;
    margin-left: 70%;
    margin-top: 25%;
 
    color:rgb(100, 97, 97);
    border: 3px solid rgb(202, 196, 179);
    background-color:rgb(221, 218, 115);

    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    display:table;
} 


.buttoncaption{

    display: table-cell;
    vertical-align: middle;
    padding-top: 40%;

}

.buttoncaption1{

    display: table-cell;
    vertical-align: middle;
    padding-top: 50%;



}

*/.removelink{
    text-decoration: none;
    color:rgb(100, 97, 97);
    font-family: 'News Cycle', sans-serif;
    font-size: 30px;

} 