
#cardset{
    background-color:rgb(255,118,87);
    padding: 2%;
    box-shadow:  0px 30px 30px -20px rgba(0, 0, .9);


}

.logo-porfolio{
    position: absolute;
    margin-top:14%;
    margin-left: -3%;
    width: 95%;
}

#pachonstyle{
    margin-top: 75px;
    margin-left: 40%;
    font-size: 50px;
    
}

